<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mainMapper">

    <select id="isExist" resultType="com.example.demo.entity.main">
        SELECT * FROM main WHERE NAME=#{name}
    </select>

    <insert id="addMain">
    insert main values (default ,#{name},#{beizhu},#{img},#{yanyuan},#{daoyan},#{movietype},#{place},#{gengxintime},#{zhuangtai},
    #{language},#{shangyingtime},#{juqing},#{data},#{hot})
</insert>


    <select id="selectId" resultType="java.lang.Integer">
        select id from main where name=#{name}
    </select>
    <select id="selectAll" resultType="com.example.demo.entity.main">
        select * From main where id=${id}
    </select>

    <update id="updates">
    update main set img=${img} where id=${id}
</update>
    <update id="updateImg">
        update main set img="http://toyishan.kuaiyunds.com/toyishan/movie/${id}.png" where id=${id}
    </update>

    <select id="selectNow" resultType="com.example.demo.entity.main">
                <!--select * from main where TO_DAYS(data) = TO_DAYS(NOW()) ORDER BY id DESC-->

                select * from main order by id desc limit 0,200
    </select>
</mapper>